.App {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.itteration {
  display: flex;
  justify-content: center;
  width: 100%;
  /* border: 2px solid rgb(255, 217, 0); */
}

.pic-container {
  width: 50%;
  /* border: 2px solid rgb(255, 217, 0); */
}

.inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: row-reverse;
  /* border: 2px solid rgb(98, 255, 0); */
}

.info {
  /* border: 2px solid red; */
  width: 40%;
}

.card {
  display: flex;
  width: 30vw;
  margin: 1rem;
  padding: 0.5rem;
  flex-wrap: wrap;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  /* border: 2px solid rgb(16, 15, 9); */
}

.card img {
  width: 100%;
  border-radius: 2rem;
  padding: 0 1rem;
  /* border: 2px solid rgb(0, 242, 255); */
}

.card h3 {
  font-size: 1rem;
  color: rgb(123, 118, 118);
}
